.coverage
.vscode
.pytest_cache/

*~
*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~

# Git
.git
.gitignore

# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

# to sync with .gitignore
build
dist
*.egg-info

cache
htmlcov
ve
node_modules
html/data
