.coverage
.vscode
.pytest_cache/

*~
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.py[cod]
*/*.py[cod]
*/*/*.py[cod]
*/*/*/*.py[cod]

build/
dist/
*.egg-info/

cache
build
htmlcov
ve
node_modules
html/data
