certifi==2017.7.27.1
Django==1.9.13
django-debug-toolbar==1.8
django-kronos==1.0
django-test-pep8==0.1
lxml==3.8.0
pep8==1.7.0
pkg-resources==0.0.0
pycurl==7.43.0
python-crontab==2.0.2
python-dateutil==2.6.1
six==1.10.0
sqlparse==0.2.3
