pyOpenSSL==21.0.0
httpx[http2]==0.14.0
brotlipy==0.7.0
uvloop==0.14.0
dnspython==1.16.0
ipwhois==1.1.0
lxml==4.6.5
selenium==3.141.0
pyyaml==5.4
GitPython==3.1.7
sqlalchemy==1.4.14
httpobs @ git+https://github.com/dalf/http-observatory@master#egg=httpobs
requests==2.24.0
beautifulsoup4==4.6.3
publicsuffixlist==0.6.2
psutil==5.6.6
celery==4.2.1
geoip2==4.2.0
