pyOpenSSL==26.0.0
httpx[http2,socks]==0.28.1
brotli==1.2.0
dnspython==2.7.0
ipwhois==1.3.0
lxml==6.1.0
selenium==4.46.0
pyyaml==6.0.3
GitPython==3.1.52
sqlalchemy==2.0.36
rfc3986==2.0.0
httpobs @ git+https://github.com/dalf/http-observatory@master#egg=httpobs
requests==2.33.0
urllib3<3
beautifulsoup4==4.14.2
publicsuffixlist==1.0.2.20260723
celery==5.2.7
geoip2==5.1.0
