{% extends "stats/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome</h1>
        <p>This is a little website, to show up-to-date informations about searx-engines and public searx Instances.</p>
        <p>searx is a privacy-respecting, hackable metasearch engine, which can everyone host by itself.</p>
        <p><a href="https://github.com/asciimoo/searx" class="btn btn-primary btn-lg" role="button">View searx on Github &raquo;</a></p>
      </div><!-- /.container -->

      <div class="row">
        <div class="col-md-7">
          <h2>Public searx instances</h2>
	</div>
      </div>

    </div>

    {% if instancetest_list %}
    <table class="table">
      <thead>
        <tr>
          <th>URL</th>
	  <th>Online status</th>
	  <th>Searx version</th>
	  <th>Certificate</th>
	  <th>Response time</th>
          <th>Last update</th>
	  <th>Details</th>
        </tr>
      </thead>
      <tbody>
	{% for instancetest in instancetest_list %}
	<tr class="{%if instancetest.valid_instance %}valid{% else %}invalid{% endif %} {%if instancetest.odd %}odd{% else %}even{% endif %} {%if instancetest.first %}first{% endif %} {%if instancetest.linked %}linked{% endif %}">
	  <td class="url"><a href="{{ instancetest.url.url }}">{{ instancetest.url.url }}</a>
	    {% if instancetest.url.scheme == 'https' %}
	    <a href="https://www.ssllabs.com/ssltest/analyze.html?d={{ instancetest.url.netloc }}">
	      <button type="button" class="btn btn-default btn-xs">
		<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
		Check SSL
	      </button>
	    </a>
	    {% endif %}
	  </td>
	  <td class="status"><span class="label-http label {{instancetest.result_class}}">{{ instancetest.result_msg }}</span></td>
	  <td>{{ instancetest.searx_version }}</td>
	  <td class="certificate"><span class="label-certificate">{% if instancetest.certificate  %}{{ instancetest.certificate }}{% endif %}</span></td>
	  <td><span class="time">{{ instancetest.total_response_time.total_seconds|floatformat:3|intcomma }}</span></td>
	  <td>{{ instancetest.timestamp }}</td>
	  <td>
	    {% if instancetest.first %}
	    <a href="{% url 'instance' instancetest.instance.pk %}">
	      <button type="button" class="btn btn-default btn-xs">
		<span class="glyphicon glyphicon-expand"></span>
		Detail
	      </button>
	    </a>
	    {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No instance are available.</p>
    {% endif %}

{% endblock %}

