{% extends "stats/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome</h1>
        <p>This is a little website, to show up-to-date informations about searx-engines and public searx Instances.</p>
        <p>searx is a privacy-respecting, hackable metasearch engine, which can everyone host by itself.</p>
        <p><a href="https://github.com/asciimoo/searx" class="btn btn-primary btn-lg" role="button">View searx on Github &raquo;</a></p>
      </div><!-- /.container -->

      <div class="row">
        <div class="col-md-7">
          <h2>Public searx instances</h2>
	</div>
      </div>

    </div>

    {% if instances %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>URL</th>
	  <th>Online status</th>
	  <th>Searx version</th>
	  <th>Response time</th>
          <th>Last update</th>
	  <th>Details</th>
        </tr>
      </thead>
      <tbody>
	{% for instance in instances %}
	<tr {%if instance.last_test.valid_instance %}class="valid"{% else %}class="invalid"{% endif %}>
	  <td class="url"><a href="{{ instance.url }}">{{ instance.url }}</a>
	    <a href="https://www.ssllabs.com/ssltest/analyze.html?d={{ instance.url_host }}">
	      <button type="button" class="btn btn-default btn-xs">
		<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
		Check SSL
	      </button>
	    </a>
	  </td>
	  <td><span class="label-http label {{instance.last_test.result_class}}">{{ instance.last_test.result_msg }}</span></td>
	  <td>{{ instance.last_test.searx_version }}</td>
	  <td><span class="time">{{ instance.last_test.total_response_time.total_seconds|floatformat:3|intcomma }}</span></td>
	  <td>{{ instance.last_test.timestamp }}</td>
	  <td>
	    <a href="{% url 'instance' instance.id %}">
	      <button type="button" class="btn btn-default btn-xs">
		<span class="glyphicon glyphicon-expand"></span>
		Detail
	      </button>
	    </a>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No instance are available.</p>
    {% endif %}

{% endblock %}

