{% extends 'macros/base.html' %}
{% from 'macros/macros.html' import url_component, http_status_component, comments_component, alternativeurls_component with context %}
{% block title %}Offline instances{% endblock %}
{% block content %}
<main role="main" class="container theme-showcase full-width">
{% if instances_withoutsearx %}
  <h2>Searx not found</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="column-url">URL</th>
            <th class="column-status column-normal">Status</th>
            <th class="column-comments column-alt">Comments</th>
            <th class="column-alternativeurls column-alt">Alternative URLs</th>
          </tr>
        </thead>
        <tbody>
          {% for instance in instances_withoutsearx -%}
          <tr id="{{ instance.id }}">
            <td class="column-url column-normal">{{ url_component(instance.url, instance.alternativeUrls, instance.comments) }}</td>
            <td class="column-status column-normal">{{ http_status_component(instance.http.status_code) }}</td>
            <td class="column-comments column-alt">{{ comments_component(instance.comments)}}</td>
            <td class="column-alternativeurls column-alt">{{ alternativeurls_component(instance.alternativeUrls)}}</td>
          </tr>
          {%- endfor %}
        </tbody>
    </table>
  </div>
{% endif %}
{% for error_message, instances in instances_error.items() -%}
  <h2>{{error_message}}</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th class="column-url">URL</th>
            <th class="column-status column-normal">Status</th>
            <th class="column-error column-normal">Error</th>
            <th class="column-comments column-alt">Comments</th>
            <th class="column-alternativeurls column-alt">Alternative URLs</th>
          </tr>
        </thead>
        <tbody>
          {% for instance in instances -%}
          <tr id="{{ instance.id }}">
            <td class="column-url column-normal">{{ url_component(instance.id, instance.url, instance.alternativeUrls, instance.comments) }}</td>
            <td class="column-status column-normal">{{ http_status_component(instance.http.status_code) }}</td>
            <td class="column-error column-normal">{{ instance.error }}</td>
            <td class="column-comments column-alt">{{ comments_component(instance.comments) }}</td>
            <td class="column-alternativeurls column-alt">{{ alternativeurls_component(instance.alternativeUrls) }}</td>
          </tr>
          {%- endfor %}
        </tbody>
    </table>
  </div>
{%- endfor %}
</main>
{% endblock %}
