<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <title><% preact.title %></title>
        <meta name="referrer" content="no-referrer">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
        <link rel="apple-touch-icon" href="./assets/icons/searx-icon.png">
        <meta name="description" content="Online and offline Searx instances">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://searx.space/">
        <meta property="og:title" content="Searx instances">
        <meta property="og:image" content="https://searx.space/assets/icons/searx-icon.png">
        <meta property="og:description" content="Online and offline Searx instances">
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Website",
            "url": "https://searx.space",
            "image": "https://searx.space/assets/icons/searx-icon.png",
            "license": "https://github.com/dalf/searx-stats2/blob/master/LICENSE",
            "about": {
                "@type": "Website",
                "name": "Searx",
                "url": "https://github.com/asciimoo/searx/"
            },
            "sameAs" : [
                "http://searxspbitokayvkhzhsnljde7rqmn7rvoga6e4waeub3h7ug3nghoad.onion/"
            ]
        }
        </script>
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
