<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="main.css">
    <link rel="preload" href="/data/instances.json" as="fetch" crossorigin="anonymous">

    <title>Searx instances</title>
    <meta name="description" content="Online and offline Searx instances">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://searx.space/">
    <meta property="og:title" content="Searx instances">
    <meta property="og:image" content="https://searx.space/searx.png">
    <meta property="og:description" content="Online and offline Searx instances">
    <link rel="apple-touch-icon" href="/searx.png">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Website",
        "url": "https://searx.space",
        "image": "https://searx.space/searx.png",
        "license": "https://github.com/searx/searx-stats2/blob/master/LICENSE",
        "about": {
          "@type": "Website",
          "name": "Searx",
          "url": "https://github.com/searx/searx/"
        },
        "sameAs" : [
          "http://searxspbitokayvkhzhsnljde7rqmn7rvoga6e4waeub3h7ug3nghoad.onion/"
        ]
      }
    </script>
  </head>

  <body>
    <div id="searxinstances">
      <header>
          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container full-width">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Searx instances</a>
              </div>
              <ul class="nav navbar-nav" role="tablist">
                <li :class="selected_tab=='online_https'?'active':''"><a href="#" v-on:click="selected_tab='online_https'">Online HTTPS</a></li>
                <li :class="selected_tab=='online_tor'?'active':''"><a href="#" v-on:click="selected_tab='online_tor'">Online Tor</a></li>
                <li :class="selected_tab=='searxerrors'?'active':''"><a href="#" v-on:click="selected_tab='searxerrors'">Offline & error</a></li>
              </ul>
              <ul class="nav navbar-nav" role="tablist">
                  <li :class="selected_tab=='engines'?'active':''"><a href="#" v-on:click="selected_tab='engines'">Engines</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right" role="tablist">
                  <li :class="selected_tab=='about'?'active':''"><a href="#" v-on:click="selected_tab='about'">About</a></li>
              </ul>
            </div>
          </nav>
      </header>

      <main role="main" class="container theme-showcase" v-if="selected_tab === 'about'">
        <div class="row">
          <h2>About</h2>
          <p>This website shows the searx public instances. It is updated every 24 hours, except the response times which are updated every 3 hours.
          It requires Javascript until the <a href="https://github.com/searx/searx-stats2/issues/9">issue #9</a> is fixed.</p>
          <p><a href="https://github.com/searx/searx">Searx</a> is a free internet metasearch engine which aggregates results from more than 70 search services. Users are neither tracked nor profiled.</p>
          <p>Public instances listed here may yield less accurate results as they have much higher traffic and consequently have a higher chance of being blocked
          by search providers such as Google, Qwant, Bing, Startpage, etc. Hosting your own instance or using an instance that isn't listed here
          may give you a more consistent search experience.</p>
          <p>The source code of this website: <a href="https://github.com/searx/searx-stats2">https://github.com/searx/searx-stats2</a></p>
          <p>If something doesn't work as expected on this website, or you have a feature request, you can <a href="https://github.com/searx/searx-stats2/issues">create an issue</a></p>

          <h3>Meta-searx instances</h3>
          <p>These are websites that source from other searx instances. These are useful if you can't decide which Searx instance to use:</p>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>URL</th>
                  <th>Onion URL</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="column_url"><a href="https://searx.neocities.org/">Neocities</a></td>
                  <td class="column_url"></td>
                  <td>
                    <p>Redirects users directly to a random selection of any known running
                    server after entering query.</p>
                    <p>Requires Javascript.</p>
                    <p>Excludes servers with user tracking and analytics or are proxied through Cloudflare.</p>
                    <p><a href="https://searx.neocities.org/changelog.html">Changelog</a></p>
                  </td>
                </tr>
                <tr>
                  <td class="column_url"></td>
                  <td class="column_url"><a href="http://searxes.wodferndripvpe6ib4uz4rtngrnzichnirgn7t5x64gxcyroopbhsuqd.onion/">Searxes - Onion URL</a></td>
                  <td>
                    <p>sources data from a randomly selected running server that satisfies
                    admin's quality standards which is used for post-processing</p>
                    <p>filters out privacy-hostile websites (like CloudFlare) and either marks
                    them as such or folds them below the high ranking results.</p>
                    <p><a href="https://github.com/Danwin">@Danwin</a></p>
                  </td>
                </tr>
                <tr>
                  <td class="column_url"></td>
                  <td class="column_url"><a href="http://7tcuoi57curagdk7nsvmzedcxgwlrq2d6jach4ksa3vj72uxrzadmqqd.onion/">Gimmeasearx</a></td>
                  <td>
                    <p>Configurable, JavaScript-less Neocities alternative, giving you a random searx instance each time you visit the page.</p>
                    <p>Only an onion service is available. If you can't or don't want to use Tor, you can build and run it from source.</p>
                    <p><a href="https://github.com/demostanis/gimmeasearx">Source code</a></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <h3>How can I add / remove my instance on this site ?</h3>
          <p>See the <a href="https://github.com/searx/searx-instances">searx-instances</a> project</p>

          <h3>How can I install searx ?</h3>
          <p>See the <a href="https://searx.github.io/searx/admin/index.html">searx documentation</a></p>
          <p>Or if you want to use docker: <a href="https://github.com/searx/searx-docker">https://github.com/searx/searx-docker</a></p>

          <h3>How can I use the results in another project ?</h3>
          <p>You can fetch <a href="data/instances.json">instances.json</a> directly.</p>
          <p>Do note that the format may change in the future.</p>

          <h3>Similar projects</h3>
          <ul>
            <li><a href="https://github.com/pointhi/searx_stats">https://github.com/pointhi/searx_stats</a></li>
          </ul>
        </div>
      </main>
      <main role="main" class="container theme-showcase full-width" v-if="instances.length > 0 && selected_tab != 'about'">
        <p class="global_filters">
          <span >Show comments <input type="checkbox" v-model="display.comments"></span>
          <span>Displayed time:<a class="help" href="#help-timing">?</a>&nbsp;
            <select name="time-select" id="time-select" v-model="display.time_select">
              <option value="all">Total</option>
              <option value="server">Server</option>
              <option value="load">Load</option>
              <option value="network">Network</option>
              <option value="processing">Processing</option>
            </select>
          </span>
        </p>
        <div v-if="selected_tab === 'online_https'">
          <h2>{{instances_filtered.length}}&nbsp;online instances</h2>
          <p>See the <a href="#" v-on:click="selected_tab='about'">About</a> section to know how to edit this list or look for the meta searx instances</p>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th class="column-url">URL</th>
                    <th class="column-version">Version</th>
                    <th v-if="!display.comments" class="column-tls">TLS<a class="help" href="#help-tls-grade">?</a></th>
                    <th v-if="!display.comments" class="column-csp">CSP<a class="help" href="#help-csp-grade">?</a></th>
                    <th v-if="!display.comments" class="column-html">HTML<a class="help" href="#help-http-grade">?</a></th>
                    <th v-if="!display.comments" class="column-certificate">Certificate</th>
                    <th v-if="!display.comments" class="column-ipv6">IPv6<a class="help" href="#help-ipv6">?</a></th>
                    <th v-if="!display.comments" class="column-country">Country<a class="help" href="#help-country">?</a></th>
                    <th v-if="!display.comments" class="column-network">Network</th>
                    <th v-if="!display.comments" class="column-responsetime">Search response time</th>
                    <th v-if="!display.comments" class="column-responsetime">Google response time</th>
                    <th v-if="!display.comments" class="column-responsetime">Wikipedia response time</th>
                    <th v-if="!display.comments" class="column-responsetime">Initial response time</th>
                    <th v-if="display.comments" class="column-comments">Comments</th>
                    <th v-if="display.comments" class="column-alternativeurls">Alternative URLs</th>
                  </tr>
                  <tr>
                      <th class="column-url"></th>
                      <th class="column-version"><input v-model="filters.version"/></th>
                      <th v-if="!display.comments" class="column-tls"><div class="column-filter"><input v-model="filters.tls_grade"/></div></th>
                      <th v-if="!display.comments" class="column-csp"><div class="column-filter"><input v-model="filters.csp_grade"/></div></th>
                      <th v-if="!display.comments" class="column-html"><div class="column-filter"><input v-model="filters.html_grade"/></div></th>
                      <th v-if="!display.comments" class="column-certificate"><div class="column-filter"></div></th>
                      <th v-if="!display.comments" class="column-ipv6"><div class="column-filter"><input v-model="filters.ipv6" type="checkbox" /></div></th>
                      <th v-if="!display.comments" class="column-country"><div class="column-filter"><input v-model="filters.network_country"/></div></th>
                      <th v-if="!display.comments" class="column-network"><div class="column-filter">
                        <input v-model="filters.network_name" style="width: 90%" />
                        <span><input v-model="filters.asn_privacy" type="checkbox" style="margin: 0 0.25em;vertical-align: middle; width:auto;" /></span>
                        <span class="info-tooltip">Hide networks with privacy issue</span>
                      </div></th>
                      <th v-if="!display.comments" class="column-responsetime"><div class="column-filter"><input v-model="filters.standard_search" type="checkbox" /></div></th>
                      <th v-if="!display.comments" class="column-responsetime"><div class="column-filter"><input v-model="filters.google" type="checkbox" /></div></th>
                      <th v-if="!display.comments" class="column-responsetime"></th>
                      <th v-if="!display.comments" class="column-responsetime"></th>
                      <th v-if="display.comments" class="column-comments"></th>
                      <th v-if="display.comments" class="column-alternativeurls"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="detail in instances_filtered">
                    <td class="column-url"><url-component :url="detail.url" :alternativeurls="detail.alternativeUrls" :comments ="detail.comments"></url-component></td>
                    <td class="column-version">{{detail.version}}</td>
                    <td v-if="!display.comments" class="column-tls"><tls-component :value="detail.tls"></tls-component></td>
                    <td v-if="!display.comments" class="column-csp"><csp-component :value="detail.http"></csp-component></td>
                    <td v-if="!display.comments" class="column-html"><html-component :value="detail.html" :hashes="$root.hashes" :url="detail.url"></html-component></td>
                    <td v-if="!display.comments" class="column-certificate"><certificate-component :value="detail.tls" :url="detail.url"></certificate-component></td>
                    <td v-if="!display.comments" class="column-ipv6"><ipv6-component :value="detail.network"></ipv6-component></td>
                    <td v-if="!display.comments" class="column-country"><network-country-component :value="detail.network" :cidrs="$root.cidrs"></network-country-component></td>
                    <td v-if="!display.comments" class="column-network"><network-name-component :value="detail.network" :cidrs="$root.cidrs"></network-name-component></td>
                    <td v-if="!display.comments" class="column-responsetime"><time-component :value="detail.timing.search" :time_select="$root.display.time_select"></time-component></td>
                    <td v-if="!display.comments" class="column-responsetime"><time-component :value="detail.timing.search_go" :time_select="$root.display.time_select"></time-component></td>
                    <td v-if="!display.comments" class="column-responsetime"><time-component :value="detail.timing.search_wp" :time_select="$root.display.time_select"></time-component></td>
                    <td v-if="!display.comments" class="column-responsetime"><time-component :value="detail.timing.initial" :time_select="$root.display.time_select"></time-component></td>
                    <td v-if="display.comments" class="column-comments">
                      <p v-for="comment in detail.comments">{{comment}}</p>
                    </td>
                    <td v-if="display.comments" class="column-alternativeurls">
                      <p v-for="(comment,url) in detail.alternativeUrls">
                          <url-component :url="url"></url-component> - {{comment}}
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h4 id="help-tls-grade">TLS grade</h4>
            <p>Grade from <a href="https://cryptcheck.fr/">cryptcheck.fr</a> (source code: <a href="https://github.com/aeris/cryptcheck">aeris/cryptcheck</a> and <a href="https://github.com/dalf/cryptcheck-backend">dalf/cryptcheck-backend</a>).</p>

            <h4 id="help-csp-grade">CSP grade</h4>
            <p>Grade from <a href="https://github.com/dalf/http-observatory">dalf/http-observatory</a> updated fork of <a href="https://observatory.mozilla.org/faq.html">Observatory by mozilla</a>.
            <p>Note: The grade shown here might be different from observatory.mozilla.org: searx.space checks the full searx URL, observatory.mozilla.org checks the root path.</p>

            <h4 id="help-http-grade">HTTP grade</h4>
            <p>When the page is loaded by Firefox, are the scripts well-known ?</p>
            <ul>
              <li>V - Vanilla instance: all static files comes from the searx git repository.</li>
              <li>C - Some static files have been modified, but the Javascripts comes from the searx git repository.</li>
              <li>Cjs - Some static files have been modified including Javascript files.</li>
              <li>E - The instance includes file from another domain.</li>
            </ul>
            <p>Be aware that only inline and external ( &lt;script src="...") scripts are checked.
            There are many other ways to leak information.</p>

            <h4 id="help-ipv6">IPv6</h4>
            <p>Yes if at least one IPv6 is valid and has the HTTPS port opened</p>

            <h4 id="help-country">Country</h4>
            <p>From whois information of the IPs</p>

            <h4 id="help-responsetime">Response time colums</h4>
            <ul>
              <li>Search response time - response time of a query with the default engines.</li>
              <li>Google response time - respones time of the Google engine.</li>
              <li>Wikipedia response time - response time of the Wikipedia engine.</li>
              <li>Initial response time - response time of the front time without prior existing connection.</li>
            </ul>

            <h4 id="help-timing">Displayed time</h4>
            <ul>
              <li>Total time - client time</li>
              <li>Server time - on the searx instance, time to serve the page</li>
              <li>Load time - on the searx instance, time to load the third party page (wikipedia, google)</li>
              <li>Network time = Total time - Server time</li>
              <li>Processing time = Server time - Load time</li>
            </ul>
            <p>
              The instances have to send the <a href="https://www.w3.org/TR/server-timing/">Server-Timing header</a> to providing the Server, Load, Network and Processing times.
              See the searx commit <a href="https://github.com/searx/searx/commit/554a21e1d07f3b434b5097b4e3d49e1403be7527">554a21e1d07f3b43</a>.
            </p>
          </div>
          <div v-if="selected_tab === 'online_tor'">
            <h2>{{instances_tor.length}}&nbsp;online instances</h2>
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th class="column-url">URL</th>
                      <th class="column-version">Version</th>
                      <th v-if="!display.comments" class="column-html">HTML<a class="help" href="#help-http-grade">?</a></th>
                      <th v-if="!display.comments" class="column-responsetime">Search response time</th>
                      <th v-if="!display.comments" class="column-responsetime">Google response time</th>
                      <th v-if="!display.comments" class="column-responsetime">Wikipedia response time</th>
                      <th v-if="!display.comments" class="column-responsetime">Initial response time</th>
                      <th v-if="display.comments" class="column-comments">Comments</th>
                      <th v-if="display.comments" class="column-alternativeurls">Alternative URLs</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="detail in instances_tor">
                      <td class="column-url"><url-component :url="detail.url" :alternativeurls="detail.alternativeUrls" :comments ="detail.comments"></url-component></td>
                      <td class="column-version">{{detail.version}}</td>
                      <td v-if="!display.comments" class="column-html"><html-component :value="detail.html" :hashes="$root.hashes" :url="detail.url"></html-component></td>
                      <td v-if="!display.comments" class="column-responsetime"><time-component :value="detail.timing.search" :time_select="$root.display.time_select"></time-component></td>
                      <td v-if="!display.comments" class="column-responsetime"><time-component :value="detail.timing.search_go" :time_select="$root.display.time_select"></time-component></td>
                      <td v-if="!display.comments" class="column-responsetime"><time-component :value="detail.timing.search_wp" :time_select="$root.display.time_select"></time-component></td>
                      <td v-if="!display.comments" class="column-responsetime"><time-component :value="detail.timing.initial" :time_select="$root.display.time_select"></time-component></td>
                      <td v-if="display.comments" class="column-comments">
                        <p v-for="comment in detail.comments">{{comment}}</p>
                      </td>
                      <td v-if="display.comments" class="column-alternativeurls">
                        <p v-for="(comment,url) in detail.alternativeUrls">
                            <url-component :url="url"></url-component> - {{comment}}
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <div v-if="selected_tab === 'searxerrors'">
            <h2>Searx not found</h2>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="column-url">URL</th>
                      <th v-if="!display.comments" class="column-status">Status</th>
                      <th v-if="display.comments" class="column-comments">Comments</th>
                      <th v-if="display.comments" class="column-alternativeurls">Alternative URLs</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="detail in instances_nosearx">
                      <td class="column-url"><url-component :url="detail.url" :alternativeurls="detail.alternativeUrls" :comments ="detail.comments"></url-component></td>
                      <td v-if="!display.comments" class="column-status"><http-status-component :value="detail.http.status_code"></http-status-component></td>
                      <td v-if="display.comments" class="column-comments">
                        <p v-for="comment in detail.comments">{{comment}}</p>
                      </td>
                      <td v-if="display.comments" class="column-alternativeurls">
                        <p v-for="(comment,url) in detail.alternativeUrls">
                            <url-component :url="url"></url-component> - {{comment}}
                        </p>
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
            <template v-for="instanceList, instanceError in instances_ko">
              <h2>{{instanceError}}</h2>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th class="column-url">URL</th>
                        <th v-if="!display.comments" class="column-status">Status</th>
                        <th v-if="!display.comments" class="column-error">Error</th>
                        <th v-if="display.comments" class="column-comments">Comments</th>
                        <th v-if="display.comments" class="column-alternativeurls">Alternative URLs</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="detail in instanceList">
                        <td class="column-url"><url-component :url="detail.url" :alternativeurls="detail.alternativeUrls" :comments ="detail.comments"></url-component></td>
                        <td v-if="!display.comments" class="column-status"><http-status-component :value="detail.http.status_code"></http-status-component></td>
                        <td v-if="!display.comments" class="column-error">{{detail.error}}</td>
                        <td v-if="display.comments" class="column-comments">
                          <p v-for="comment in detail.comments">{{comment}}</p>
                        </td>
                        <td v-if="display.comments" class="column-alternativeurls">
                          <p v-for="(comment,url) in detail.alternativeUrls">
                              <url-component :url="url"></url-component> - {{comment}}
                          </p>
                        </td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </template>
          </div>
          <div v-if="selected_tab === 'engines'">
            <h2>Working engines of {{instances_filtered.length}} instance(s) (on total {{instances.length}} instances)</h2>
            <p>Instances appear here only if <a href="https://github.com/searx/searx-checker">searx-checker</a> is installed.
              See also issue <a href="https://github.com/searx/searx/issues/1559">#1559</a></p>

            <label for="selected_category">Category</label>
            <select name="selected_category" v-model="selected_category">
                <option v-for="category in categories" :value="category">{{category}}</option>
            </select>

            <table class="table table-widthauto table-bordered table-striped table-striped-column">
                <thead>
                  <tr>
                    <td></td>
                    <td v-for="engine in selected_engines"><span class="engine">{{engine}}</span></td>
                  </tr>
                </thead>
                <tbody>
                    <tr v-for="detail in instances_filtered" v-if="detail.engines">
                        <td class="column-url"><url-component :url="detail.url" :alternativeurls="detail.alternativeUrls" :comments ="detail.comments"></url-component></td>
                        <td class="column-engine-status" v-for="engine in selected_engines"><engine-component :instance='detail' :engine='engine'></engine-component></td>
                    </tr>
                </tbody>
            </table>
            <h4 id="help-http-grade">Icons:</h4>
            <ul>
              <li>? - No self-checking, the engine hasn't returned results since the searx instance has started. Perhaps the engine has been used.</li>
              <li>🟡 - No self-checking, the engine has returned results since the searx instance has started. Maybe it doesn't work anymore.</li>
              <li>❌ - After self-check, the engine does not return a result.</li>
              <li>✔️ - After a self-check, the engine returns results.</li>
            </ul>
          </div>
      </main>
      <footer class="page-footer">
        <div class="container text-center">
          <div class="row">
            <p><a href="https://github.com/searx/searx-stats2">Source code of this website</a>
              - <a href="https://searx.space">Public URL</a>
              - <a href="http://searxspbitokayvkhzhsnljde7rqmn7rvoga6e4waeub3h7ug3nghoad.onion">Onion URL</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
    <script src="assets/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>
