.page-footer {
  margin-top: 2em;
}

.table-responsive {
  max-width: min-content;
  max-width: fit-content;
  max-width: -moz-fit-content;
}

.help,
.help:hover {
  vertical-align: super;
  background-color: lightgray;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: 8px;
  padding: 3px;
  margin: 3px;
}

.info-tooltip {
  display: none;
  position: absolute;
  padding: 0.5rem;
  margin: 0rem 0 0 2rem;
  border: 1px solid black;
  background: white;
  font-family: monospace;
  font-style: inherit;
  font-variant: normal;
  font-weight: normal;
  z-index: 1000000;
  text-align: left;
}

/* hack */
.column-filter .info-tooltip {
  margin: 2em 0 0 2em;
}

.info-tooltip p {
  margin: 0.125rem;
}

.info-tooltip td {
  padding: 0.25rem;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  max-width: 90rem;
}

.info-tooltip a {
  color: inherit;
  text-decoration: none;
}

.info-tooltip a:hover {
  color: inherit;
  text-decoration: underline;
}

a:hover + .info-tooltip,
span:hover + .info-tooltip,
.info-tooltip:hover {
  display: block;
}

sup {
  font-size: 60%;
}
th input {
  width: 100%;
  border: 1px solid lightgray;
}

.full-width {
  width: auto !important;
}

.table-widthauto {
  width: auto;
  max-width: fit-content;
}

.column-url {
  min-width: 26rem;
  max-width: 26rem;
  width: 26rem;
}

.column-certificate {
  max-width: 29rem;
  width: 29rem;
}

.column-comments {
  min-width: 40rem;
}

.column-alternativeurls {
  min-width: 40rem;
}

tbody .column-url:hover, tbody .column-certificate:hover {
  max-width: 100rem;
}

tbody .column-url, tbody .column-certificate {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}

tbody .column-url:hover, tbody .column-certificate:hover {
  position: absolute;
  background: inherit;
  border: none;
  width: auto;
  overflow: visible;
  text-overflow: inherit;
  word-break: keep-all;
  white-space: nowrap;
}

main thead th {
  padding: 2px;
  vertical-align: middle !important;
}

.column-status {
  max-width: 6rem;
  width: 6rem;
  text-align: center;
}

.column-version {
  max-width: 16rem;
  min-width: 16rem;
  width: 16rem;
}

.column-csp, .column-tls, .column-html, .column-ipv6 {
  max-width: 7rem;
  width: 7rem;
  text-align: center;
}

.column-country {
  max-width: 9rem;
  width: 9rem;
  text-align: center;
}

.column-network {
  width: 29rem;
}

tbody .column-network span:first-child span:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  max-width: 26rem;
  height: 2rem;
}

.column-responsetime {
  max-width: 9rem;
  width: 9rem;
  text-align: right;
}

.column-uptime {
  max-width: 8rem;
  width: 8rem;
  text-align: right;
}

.column-filter {
  display: flex;
  flex-direction: row;
  align-content: center;
}


div.table-responsive table th.column-responsetime {
  white-space: normal;
}

tbody .column-responsetime {
  line-break: loose;
}

.column-error {
  max-width: auto;
  width: 60rem;
}

.value-tls {
  color: white;
  display: block;
  text-align: center;
  margin: 0;
}

.value-csp {
  color: white;
  display: block;
  text-align: center;
  margin: 0;
}

.value-html {
  color: white;
  display: block;
  text-align: center;
  margin: 0;
}

.column-html {
  width: 6rem;
}

.value-network, .value-ipv6 {
  display: block;
  padding: 2px;
}

.value-responsetime {
  color: white;
  display: block;
  padding: 0.1rem 0.5rem 0.1rem 0.1rem;
}

.value-uptime {
  text-align: right;
  color: white;
  display: block;
  padding: 0.1rem 0.5rem 0.1rem 0.1rem;
}

.column-uptime .info-tooltip {
  position: absolute;
  right: 6rem;
}

.urls,
.ips {
  list-style: none;
  margin: 0;
  padding: 0.25rem;
}

/* Engine table */

.engine-headers {
  position: sticky;
  top: 0rem;
  padding: 0.5rem 0 1.5rem 0;;
  background: white;
  z-index: 10000;
}

.table-engines thead td {
  position: sticky;
  top: 11rem;
  padding: 0 !important;
  margin: 0;
  z-index: 100000;
}

.table-engines td span.engine-label {
  width: 100%;
}

.table-engines td label.engine-label {
  width: 4rem;
}

.table-engines td .engine-label {
  display: block;
  margin: 0;
  padding: 1rem !important;
  height: 23rem;
	writing-mode: vertical-lr;
  font-weight: normal !important;
  background: white;
  user-select: none;
}

.table-engines td .engine-label input {
  vertical-align: text-top;
  margin-bottom: 0.5rem;
}

.table-engines .engine-result {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.engine-tooltip {
  min-width: 30rem;
}

.engine-tooltip tr th:nth-child(2) {
  text-align: right;
}


.global_filters {
  margin: 0 0 1em 0;
  float: right;
}

@media only screen and (max-width: 405px) {
  .global_filters {
    margin: 0 0 4em 0;
  }
}

.global_filters span {
  padding-right: 1em;
  white-space: nowrap;
}

.engine-status-list td {
  vertical-align: middle;
}

.engine-status-list .engine-status {
  height: auto;
  padding: 0;
}

.engine-status a:hover {
  text-decoration: none;
}


.engine-status {
  max-width: 4rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  padding: 0.9rem;
}

.engine-status .ok {
  display: inline-block;
  margin: 0.5rem;
  width: 1rem;
  height: 1rem;
  background-color: #16c60c;
  border: 1px solid rgb(0,0,0,0.6);
  border-radius: 50%;
}

.engine-status .unknow {
  display: inline-block;
  margin: 0.7rem;
  padding: 0.3rem;
  background-color: #d0d0d0;
  border: 1px solid #bfbfbf;
}

.engine-status .warning {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin: 0.1rem;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjA\
gMCAxMDAwIDEwMDAiPjxnIHN0cm9rZT0iIzAwMCIgc3Ryb2tlLXdpZHRoPSIwIj48cGF0aCBmaWxsPSIjZmNlMTAwIiBkPSJNMTMyIDg5Nmg3MzdjNTEgM\
CA4NC01NSA2MS0xMDFMNTYyIDE0M2E2OSA2OSAwIDAwLTEyNCAwTDcwIDc5NWE3MCA3MCAwIDAwNjIgMTAxem00MjYtMTUyYzAgMzQtMjUgNjAtNjAgNjB\
zLTYwLTI2LTYwLTYwdi0yYzAtMzQgMjUtNjAgNjAtNjBzNjAgMjYgNjAgNjB6bS05Mi00NDFoNjljMTkgMCAzMCAxNiAyOCAzNmwtMzAgMjY2Yy0yIDE5L\
TE1IDMxLTMzIDMxLTE3IDAtMzAtMTItMzItMzFsLTMxLTI2NWMtMi0yMSAxMC0zNyAyOS0zN3oiIHN0cm9rZT0ibm9uZSIvPjxwYXRoIHN0cm9rZS13aWR\
0aD0iMjAiIGQ9Ik01MDAgMTA0Yy0yNSAwLTUwIDEzLTYyIDM4TDY5IDc5NWgwYTcwIDcwIDAgMDA2MyAxMDFoNzM3YzUxIDAgODUtNTUgNjEtMTAxaDBMN\
TYyIDE0MmE2OSA2OSAwIDAwLTYyLTM4em0wIDFjMjQgMCA0OSAxMyA2MSAzOGgwbDM2OSA2NTNjMjMgNDUtMTAgOTktNjEgOTlIMTMyYy01MSAwLTg0LTU\
0LTYyLTk5IDAgMCAwIDAgMCAwbDM2OS02NTNoMGMxMi0yNSAzNy0zOCA2MS0zOHptLTM0IDE5N2MtMTAgMC0xOCA0LTIzIDExcy03IDE2LTYgMjdoMGwzM\
CAyNjVjMiAxOSAxNSAzMSAzMyAzMXMzMS0xMiAzMy0zMWgwbDMwLTI2NWgwYzItMTEtMS0yMC02LTI3cy0xMy0xMS0yMi0xMWgtNjl6bTAgMWg2OWM5IDA\
gMTcgNCAyMSAxMSA1IDYgOCAxNSA3IDI1aDBsLTMxIDI2NmgwYy0yIDE5LTE0IDMwLTMyIDMwLTE3IDAtMzAtMTEtMzItMzBsLTMwLTI2NmMtMS0xMCAxL\
TE5IDYtMjUgNS03IDEyLTExIDIyLTExem0zMiAzNzljLTM2IDAtNjAgMjYtNjAgNjB2MmMwIDM0IDI0IDYwIDYwIDYwczYxLTI2IDYxLTYwdi0yYzAtMzQ\
tMjUtNjAtNjEtNjB6bTAgMWMzNSAwIDYwIDI2IDYwIDU5djJjMCAzMy0yNSA1OS02MCA1OXMtNTktMjYtNTktNTl2LTJjMC0zMyAyNC01OSA1OS01OXoiL\
z48L2c+PHBhdGggZD0iTTQ4MyA3OTdjLTE4LTUtMzMtMjAtMzctMzgtMi04LTMtMjQtMS0zMmE1MyA1MyAwIDAxNTMtMzljMjUgMCA0NSAxNCA1MyAzNyA\
1IDE1IDIgMzYtNiA0OC03IDEyLTE5IDIwLTMyIDI0aC0zMHpNNDkxIDYyOWMtMi0xLTYtMi03LTQtNC0yLTktOS0xMC0xNGwtMTctMTQxYy0xNi0xNDctM\
TYtMTQzLTExLTE1MSAzLTUgOS0xMCAxNC0xMWE2NjQgNjY0IDAgMDE4NSAyYzUgMyAxMSAxMiAxMyAxOWE2MTY2IDYxNjYgMCAwMS0zMiAyODNjLTQgMTQ\
tMjAgMjItMzUgMTd6IiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMTIiLz48ZyBzdHJva2Utd2lkdGg9IjAiPjxwYXRoIGQ9Ik0xMzEgODk2aDczN\
2M1MSAwIDg0LTU1IDYxLTEwMUw1NjEgMTQzYTY5IDY5IDAgMDAtMTI0IDBMNjkgNzk1YTcwIDcwIDAgMDA2MiAxMDF6bTQyNi0xNTJjMCAzNC0yNSA2MC0\
2MCA2MHMtNjAtMjYtNjAtNjB2LTJjMC0zNCAyNS02MCA2MC02MHM2MCAyNiA2MCA2MHptLTkyLTQ0MWg2OWMxOSAwIDMwIDE2IDI4IDM2bC0zMCAyNjZjL\
TIgMTktMTUgMzEtMzMgMzEtMTcgMC0zMC0xMi0zMi0zMWwtMzEtMjY1Yy0yLTIxIDEwLTM3IDI5LTM3eiIgZmlsbD0iI2ZjZTEwMCIvPjxwYXRoIGQ9Ik0\
0OTkgMTA0Yy0yNSAwLTUwIDEzLTYyIDM4TDY4IDc5NWE3MCA3MCAwIDAwNjMgMTAxaDczN2M1MSAwIDg1LTU1IDYxLTEwMUw1NjEgMTQyYTY5IDY5IDAgM\
DAtNjItMzh6bTAgMWMyNCAwIDQ5IDEzIDYxIDM4bDM2OSA2NTNjMjMgNDUtMTAgOTktNjEgOTlIMTMxYy01MSAwLTg0LTU0LTYyLTk5bDM2OS02NTNjMTI\
tMjUgMzctMzggNjEtMzh6bS0zNCAxOTdjLTEwIDAtMTggNC0yMyAxMXMtNyAxNi02IDI3bDMwIDI2NWMyIDE5IDE1IDMxIDMzIDMxczMxLTEyIDMzLTMxb\
DMwLTI2NWMyLTExLTEtMjAtNi0yN3MtMTMtMTEtMjItMTF6bTAgMWg2OWM5IDAgMTcgNCAyMSAxMSA1IDYgOCAxNSA3IDI1bC0zMSAyNjZjLTIgMTktMTQ\
gMzAtMzIgMzAtMTcgMC0zMC0xMS0zMi0zMGwtMzAtMjY2Yy0xLTEwIDEtMTkgNi0yNSA1LTcgMTItMTEgMjItMTF6bTMyIDM3OWMtMzYgMC02MCAyNi02M\
CA2MHYyYzAgMzQgMjQgNjAgNjAgNjBzNjEtMjYgNjEtNjB2LTJjMC0zNC0yNS02MC02MS02MHptMCAxYzM1IDAgNjAgMjYgNjAgNTl2MmMwIDMzLTI1IDU\
5LTYwIDU5cy01OS0yNi01OS01OXYtMmMwLTMzIDI0LTU5IDU5LTU5eiIvPjwvZz48L3N2Zz4=');
}

.engine-status .error {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjA\
gMCAxMDAwIDEwMDAiPjxwYXRoIGQ9Ik03MTAgMjA3TDUxNiA0MDRjLTkgOS0yMyA5LTMxIDBMMjkwIDIwN2MtOS05LTIyLTktMzEgMGwtNDcgNDhjLTggO\
S04IDI0IDAgMzJsMTk0IDE5N2M4IDkgOCAyMyAwIDMyTDIxMSA3MTRjLTggOS04IDIzIDAgMzFsNDggNDhjOSA5IDIzIDkgMzEgMGwxOTQtMTk3YzktOSA\
yMy05IDMxIDBsMTk1IDE5N2M4IDkgMjIgOSAzMSAwbDQ3LTQ4YzktOSA5LTIzIDAtMzFMNTk0IDUxNmMtOC05LTgtMjMgMC0zMmwxOTUtMTk4YzgtOSA4L\
TIzIDAtMzJsLTQ4LTQ4Yy05LTgtMjMtOC0zMSAxeiIgZmlsbD0iI2YwMzMwZCIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjEwIi8+PC9zdmc+');
}
