<div class="row">
<div class="col-md-12">
<h2>About</h2>
<p>This website lists the SearXNG public instances. It is updated every 24 hours,
except the response times which are updated every 3 hours.
Column filters require Javascript.</p>
<p><a href="https://github.com/searxng/searxng">SearXNG</a> is a free internet metasearch engine
which aggregates results from more than 260 search services. Users are neither tracked nor profiled.</p>
<p>Public instances listed here can provide less accurate results as they have much higher traffic
and consequently have a higher chance of being blocked by search providers such as Google, Qwant,
Bing, Startpage, etc. Hosting your own instance or using an instance that isn't listed here
may give you a more consistent search experience.</p>
<p>The source code of this website: <a href="https://github.com/searxng/searx-space">https://github.com/searxng/searx-space</a></p>
<p>If something doesn't work as expected on this website, or you have a feature request, you can
<a href="https://github.com/searxng/searx-space/issues">create an issue</a></p>
<h3>Where can I ask questions ?</h3>
<p>Come join us on Matrix if you have questions or just want to chat about SearXNG:
<a href="https://matrix.to/#/#searxng:matrix.org">#searxng:matrix.org</a></p>
<h3>How can I add / delete my instance on this site ?</h3>
<p>See the <a href="https://github.com/searxng/searx-instances">searx-instances</a> project</p>
<h3>How can I install SearXNG ?</h3>
<p>See the <a href="https://docs.searxng.org/admin/installation.html">SearXNG documentation</a></p>
<p>Or if you want to use Docker: <a href="https://docs.searxng.org/admin/installation-docker.html#installation-container">Container Installation</a></p>
<h3>How can I use the results in another project ?</h3>
<p>You can fetch <a href="data/instances.json">instances.json</a> directly.</p>
<p>Please note that the format may change in the future.</p>
<h3>Can't decide which instance to use ?</h3>
<p><a href="https://searloc.org/">Searloc</a> redirects to a random instance from this list.
<a href="https://codeberg.org/wazaby/searloc">Source</a></p>
</div>
</div>
