{% macro url_component(id, url, alternativeurls, comments) -%}
    <a href="{{ url }}" {{ add_tooltip('url', id) }}>{{ url }}</a>
{%- endmacro %}

{% macro http_status_component(status) -%}
    <span class="label {{status | http_status_to_class}}">{{ status }}</span>
{%- endmacro %}

{% macro comments_component(comments) -%}
    {%- for comment in comments -%}
    <p>{{ comment }}</p>
    {%- endfor -%}
{%- endmacro %}

{% macro alternativeurls_component(alternativeurls) -%}
    alternativeurls
{%- endmacro %}
